* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(216, 216, 216);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  background-color: #fff;
  margin: auto;
  margin-top: 10%;
  border: 1px solid rgb(161, 161, 161);
  box-shadow: -5px 5px 10px #888;
}

.title-div {
  padding: 10px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-to-do {
  color: rgb(75, 75, 75);
}

.input-div {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid grey;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-tasks {
  border: none;
  width: 100%;
  height: 100%;
  font-style: italic;
}

input:focus {
  outline: none;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  height: 50px;
  border-bottom: 1px solid grey;
  padding: 10px;
}

input[type='checkbox'] + label {
  color: black;
}

input[type='checkbox']:checked + label {
  color: grey;
  font-style: normal;
  text-decoration: line-through;
}

.dynamic-icons {
  margin-left: auto;
  cursor: all-scroll;
  color: grey;
}

.dynamic-icons:hover,
.dynamic-icons:active {
  color: black;
}

.static-icons {
  margin-left: auto;
  color: grey;
  cursor: pointer;
}

.static-icons:hover,
.static-icons:active {
  color: black;
}

.clear-btn-div {
  height: 50px;
  padding: 10px;
  width: 100%;
  background-color: silver;
  display: flex;
  justify-content: center;
}

.clear-btn {
  border: none;
  color: rgb(75, 75, 75);
  background-color: inherit;
  font-size: 16px;
}

.clear-btn:hover,
.clear-btn:active {
  text-decoration: underline;
  color: black;
}